<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <title>Scrape from Shoppe</title>
</head>
<body>
    <header>
        <h3><a href="/" >Collect data from Shoppe</a></h3>
        <div class="weather">
            <div class="time">
                <%= weatherData.location.localtime %>
            </div>
            <div class="degree">
                <%= weatherData.current.temp_c %> C
            </div>
            <div class="weather-icon">
                <img src="<%= weatherData.current.condition.icon %>">
            </div>
        </div>
    </header>
    <main>
        <div class="container-result">
            <% if(result){ %>
            <table>
                <tr>
                    <td>Product Name</td>
                    <td>Price</td>
                    <td>Image</td>
                </tr> 
                <% for(let product of result) { %>
                    <tr>
                        <td><%= product.productName.slice(0,60) %></td>
                        <td><%= product.price %></td>
                        <td><img src="<%= product.image %>"></td>
                    </tr> 
                <%}%>
            </table>
           <% }else{ %>
            <h2>No data found</h2>
            <%} %>
        </div>
    </main>
    <footer>
        <div>Mostafa Elsouifi &copy; 2021</div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>